.field-id {
    text-align: center;
}

.field-uno {
    text-align: center;
}

.field-name {
    text-align: center;
}

.field-tel {
    text-align: center;
}

.field-country {
    text-align: center;
}

.field-email {
    text-align: center;
}

.field-remark {
    text-align: center;
}

.field-last_ip {
    text-align: center;
}

.field-last_login {
    text-align: center;
}

.field-watched {
    width: 10%;
}