.field-watched {
    width: 8%;
}

.field-id {
    text-align: center;
}

.field-nid {
    width: 7em;
    text-align: center;
}

.field-device_no {
    text-align: center;
}

.field-name {
    text-align: center;
    font-family: "Khmer UI";
}

.field-cts {
    text-align: center;
}

