<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" href="/jslib/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="/jslib/dojo/resources/dojo.css">
    <link rel="stylesheet" href="/jslib/dgrid/css/dgrid.css">
    <link rel="stylesheet" href="/jslib/dgrid/css/skins/claro.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/origin_patch.js"></script>
    <script type="text/javascript"
            src="/jslib/My9748/WdatePicker.js">
    </script>
    <script>
        var dojoConfig = {
            parseOnLoad: true, async: true,
            packages: [
                {"name": "shimmy", "location": location.pathname.match(/^\//) + "jslib/shimmy"},
                {"name": "roundgis", "location": location.pathname.match(/^\//) + "js"},
                {"name": "dgrid", "location": location.pathname.match(/^\//) + "jslib/dgrid"},
                {"name": "dstore", "location": location.pathname.match(/^\//) + "jslib/dstore"},
                {"name": "rxg", "location": location.pathname.match(/^\//) + "{{ app_js_dir }}"}
            ]
        };
    </script>
    <script>
        //global env here
        var BasicEnv = {
            lang: "{{ user_lang }}",
            curr_location: location.pathname.match(/^\//),
            templatePath: location.pathname.match(/^\//) + "templates",
            rxg_template_path: location.pathname.match(/^\//) + "{{ app_template_dir }}",
            imgpath: location.pathname.match(/^\//) + "imgs",
            standby: undefined,
            main_grid: undefined,
            poll_timer: undefined
        };
        BasicEnv.em_url = "{{ em_url }}";
    </script>

    <script src="/jslib/dojo/dojo.js"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        html, body, #main_ui_node {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .field-watched {
            width: 2em;
        }

        .field-name {
            text-align: center;
        }

        .field-status {
            text-align: center;
        }

        .field-sensor_grid_watched {
            width: 2em;
        }

        .field-sensor_name {
            text-align: center;
        }

        .field-vals {
            text-align: center;
        }

        .field-sensor_uts {
            text-align: center;
        }
    </style>
</head>
<body class="claro" id="body_node">
<div data-dojo-type="dijit/layout/BorderContainer"
     data-dojo-props="gutters: true, showTitle:false, iconClass: 'dijit_tab_icon_map'"
     id="main_ui_node">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="region:'center'">
        <div style="width: 100%;"
             data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
            <div style="width: 100%; margin-bottom: 5px;">
                <select data-dojo-type="dijit/form/Select"
                    id="samples_select_node">
                    {% for idx, tbl in enumerate(samaple_count_tbls) %}
                        {% if 'selected' in tbl %}
                            <option value="{{ tbl["value"] }}" selected="selected">{{ tbl["label"] }}</option>
                        {% else %}
                            <option value="{{ tbl["value"] }}">{{ tbl["label"] }}</option>
                        {% end %}
                    {% end %}
                </select>
                <button data-dojo-type="dijit/form/Button"
                        id="sample_btn_node">{{ sample_label }}
                </button>
                <a href="_blank" id="goto_em_url_node">{{ goto_label }}</a>
                <label id="hint_node"></label>
            </div>
            <div id="sensor_grid_node" style="height: 85%;"></div>
        </div>
        <div id="plotting_container_node" style="width: 100%; height: 56%;"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'bottom', splitter:true, doLayout: true">
        </div>
    </div>
</div>
<div id="standby"></div>
</body>
<script>
    require(["dojo/parser", "dojo/_base/declare", "dojo/_base/lang", "dojo/window", "dojo/on", "dojo/aspect", "dojo/query",
                "dojo/dom", "dojo/dom-construct", "dojo/dom-class", "dojo/dom-geometry", "dojo/_base/array", "dojo/dom-style", "dojo/Deferred",
                "dojo/promise/all", "dojo/cookie", "dojo/json",
                "dijit/registry", "dijit/Dialog", "dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/ContentPane",
                "dijit/form/Button", "dijit/Tooltip", "dojox/timing", "dojox/collections/Set",
                "dojox/widget/Standby", "dojox/validate", "dgrid/OnDemandGrid", "dgrid/CellSelection", "dgrid/Editor",
                "dgrid/extensions/ColumnHider", "dgrid/Keyboard",
                "dstore/Memory",
                "roundgis/rtutils", "roundgis/dojo_utils",
                "rxg/em_rpc",
                "rxg/SensorTrendBlockUI",
                "rxg/multi_lang",
                "dojo/ready"],
            function (parser, declare, lang, dwin, on, aspect, query, dom, domc, domclass, dgeom, darray, domstyle,
                      Deferred, all, dcookie, djson, registry,
                      Dialog, BorderContainer, TabContainer, ContentPane, Button, Tooltip,
                      dxtiming, Set, Standby, dx_validate, Grid, Selection, Editor, ColumnHider, Keyboard,
                      Memory,
                      rtutils, dojo_utils,
                      em_rpc,
                      SensorTrendBlockUI,
                      multi_lang, ready) {
                ready(function () {
                    var InitEnv = function () {
                        BasicEnv.standby = new Standby({target: "main_ui_node"});
                        document.body.appendChild(BasicEnv.standby.domNode);
                        BasicEnv.standby.startup();
                        BasicEnv.main_columns = [
                            {field: "name", label: "Name", unhidable: true}
                        ];
                        BasicEnv.sensor_col_tbl = {
                            "en": [
                                {
                                    label: " ",
                                    field: "sensor_grid_watched",
                                    autoSave: true,
                                    unhidable: true,
                                    editor: "checkbox"
                                },
                                {field: "sensor_name", label: "Name"}
                            ],
                            "zh-cn": [
                                {
                                    label: " ",
                                    field: "sensor_grid_watched",
                                    autoSave: true,
                                    unhidable: true,
                                    editor: "checkbox"
                                },
                                {field: "sensor_name", label: "名字"}
                            ]
                        };
                        BasicEnv.sensor_store = new Memory({idProperty: "id"});
                        BasicEnv.hint_node = dom.byId("hint_node");
                        BasicEnv.dialog = new Dialog();
                        BasicEnv.dialog.startup();
                    };

                    var TranslateUI = function() {
                    };


                    var Sensor2GridItem = function(sensor_tbl) {
                        return {
                            "id": sensor_tbl.id,
                            "sensor_name": sensor_tbl.name
                        };
                    };

                    var SyncSensor = function() {
                        return rtutils.Rpc2Deferred(em_rpc.ListDevice({"list_no": "sensor"})).then(
                                function (result) {
                                    ShowDeviceData(result);
                                },
                                function (err) {
                                    rtutils.ReloadWhenExpired(err);
                                    console.log(err);
                                }
                        );
                    };

                    var ShowDeviceData = function (sensors) {
                        SetSensorStore(sensors);
                        BasicEnv.sensor_grid.refresh();
                    };

                    var SetSensorStore = function(sensors) {
                        for(var i = 0; i!=sensors.length; ++i) {
                            var temp = BasicEnv.sensor_store.getSync(sensors[i].id);
                            if(temp) {
                                rtutils.Mixin(temp, Sensor2GridItem(sensors[i]),
                                    ["sensor_name"]);
                            }
                            else {
                                var grid_item = Sensor2GridItem(sensors[i]);
                                grid_item.sensor_grid_watched = false;
                                BasicEnv.sensor_store.putSync(grid_item);
                            }
                        }
                    };

                    var RenderSensorGridRow = function (row, args) {
                        query(".field-sensor_name", row).forEach(function (node) {
                            SetNameCell(args[0], node);
                        });
                        query(".field-vals", row).forEach(function (node) {
                            SetSensorValCell(args[0], node);
                        });
                        query(".field-sensor_uts", row).forEach(function(node) {
                           if(rtutils.IsValidNumber(args[0].sensor_uts) && args[0].sensor_uts > 0) {
                               node.innerHTML = rtutils.DT2Str2(rtutils.ts2date(args[0].sensor_uts));
                           }
                           else {
                               node.innerHTML = "";
                           }
                        });
                        return row;
                    };

                    var SetNameCell = function (grid_item, cell_node) {
                        cell_node.innerHTML = grid_item.sensor_name;
                    };

                    var SetSensorValCell = function(grid_item, cell_node) {
                        if(lang.isArray(grid_item.vals)) {
                            var temp = [];
                            for(var i = 0; i!== grid_item.vals.length; ++i) {
                                temp.push(grid_item.vals[i].toFixed(2));
                            }
                            cell_node.innerHTML = temp.join(",");
                        }
                        else {
                            cell_node.innerHTML = "n/a";
                        }
                    };



                    var InitSensorGrid = function() {
                        BasicEnv.sensor_grid = new declare([Grid, Selection, Keyboard, Editor])({
                            columns: rtutils.GetLangField(BasicEnv.sensor_col_tbl, BasicEnv.lang),
                            selectionMode: "single",
                            cellNavigation: true,
                            collection: BasicEnv.sensor_store,
                            minRowsPerPage: 200
                        }, "sensor_grid_node");
                        BasicEnv.sensor_grid.startup();
                        aspect.after(BasicEnv.sensor_grid, "renderRow", function (row, args) {
                            return RenderSensorGridRow(row, args);
                        });
                    };

                    var InitMgrs = function () {
                    };

                    var RefreshApp = function () {
                        BasicEnv.standby.show();
                        SyncSensor().then(
                                function(flag) {
                                    BasicEnv.standby.hide();
                                },
                                function(err) {
                                    BasicEnv.standby.hide();
                                    console.log(err);
                                }
                        );
                    };

                    var AfterLogin = function () {
                        InitSensorGrid();
                        InitMgrs();
                        setTimeout(function () {
                            RefreshApp();
                        }, 1500);
                    };

                    var Sample = function() {
                        var obj = registry.byId("plotting_container_node");
                        var deviceids = BasicEnv.sensor_store.filter({"sensor_grid_watched": true}).select("id").fetchSync();
                        if(deviceids.length > 0) {
                            domc.empty(obj.domNode);
                            rtutils.ShowStandby(BasicEnv.standby);
                            var d_obj = rtutils.Rpc2Deferred(em_rpc.SampleSensor({
                                'sample_count': parseInt(registry.byId("samples_select_node").get("value")),
                                'deviceids': deviceids
                            }));
                            d_obj.then(
                                function(result) {
                                    rtutils.HideStandby(BasicEnv.standby);
                                    var sensorids = result.sensorids;
                                    var chart_height = 86*1.0/sensorids.length;
                                    for(var i = 0; i!=sensorids.length; ++i) {
                                        var trend_block = new SensorTrendBlockUI({
                                            sensor_data_rows: result.log_tbl[sensorids[i]]
                                        });
                                        trend_block.startup();
                                        obj.addChild(trend_block);
                                        trend_block.SetHeight(chart_height.toFixed(0)+"%");
                                        trend_block.SetWidth("98%");
                                        domc.create("div", {"style": "display: block; padding: 0.6em 0;"}, obj.domNode);
                                        trend_block.Update();
                                    }
                                },

                                function(err) {
                                    rtutils.HideStandby(BasicEnv.standby);
                                    console.log(err);
                                }
                            );

                        }
                    };

                    InitEnv();
                    TranslateUI();
                    AfterLogin();

                    on(registry.byId("sample_btn_node"), "click", lang.hitch(this, function(evt) {
                        Sample();
                    }));

                    on(dom.byId("goto_em_url_node"), "click", function(evt) {
                        evt.preventDefault();
                        window.open(BasicEnv.curr_location+BasicEnv.em_url,
                                    BasicEnv.em_url);

                    });
                });
            });
</script>
</html>