<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" href="/jslib/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="/jslib/dojo/resources/dojo.css">
    <link rel="stylesheet" href="/css/app.css">
    <script>
        var dojoConfig= { parseOnLoad: true, async: true,
            packages: [
                {"name": "shimmy", "location": location.pathname.match(/^\//) + "jslib/shimmy"},
                {"name": "roundgis", "location": location.pathname.match(/^\//) + "js"},
                {"name": "dgrid", "location": location.pathname.match(/^\//) + "jslib/dgrid"},
                {"name": "dstore", "location": location.pathname.match(/^\//) + "jslib/dstore"},
                {"name": "rxg", "location": location.pathname.match(/^\//) + "{{ app_js_dir }}"}
            ]
        };
    </script>
    <script>
        //global env here
        var BasicEnv = {templatePath: location.pathname.match(/^\//) + "templates",
                        rxg_template_path: location.pathname.match(/^\//) + "{{ app_template_dir }}"};
    </script>

    <script src="/jslib/dojo/dojo.js"></script>

    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background-image: url("/imgs/{{ bkgpng }}");
            background-size: 100% 100%;
        }

        #login_node {
            border: 5px solid #999;
            width: 280px;
            padding: 0px;
            margin: 0px auto;
            background-color: #F8F8F8;
            text-align: center;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body class="claro">
    <br><br><br><br>
        <div data-dojo-type="dijit/form/Form" method="post" encType="multipart/form-data"
             action="{{ entry_point_url }}" id="login_node">
                <label style="color: blue; font-weight: bold">{{ title }}</label>
                <div style="margin-top: 0.5em;">
                    {% for idx, app_opt in enumerate(app_options) %}
                        {% set margin_val = 0 if idx == 0 else 1 %}
                        <div style="margin-top: {{ margin_val }}em;">
                            {% if idx == 0 %}
                                <input type="radio" data-dojo-type="dijit/form/RadioButton"
                                       name="web_type" value="{{ app_opt['value'] }}" checked />
                                <label>{{ app_opt["label"] }}</label>
                            {% else %}
                                <input type="radio" data-dojo-type="dijit/form/RadioButton"
                                       name="web_type" value="{{ app_opt['value'] }}" />
                                <label>{{ app_opt["label"] }}</label>
                            {% end %}
                        </div>
                    {% end %}
                </div>
                <div style="margin-top: 0.5em;">
                    <div>
                        {% for idx, lang_option in enumerate(lang_options) %}
                            {% set left_margin = 0 if idx == 0 else 1 %}
                                <span style="margin-left: {{ left_margin }}em;">
                                    <input type="radio" data-dojo-type="dijit/form/RadioButton" value="{{ lang_option["value"] }}"
                                           id="{{ lang_option["value"] }}_radio_node" name="user_lang"/><label class="rgz_kh_font">{{ lang_option["label"] }}</label>
                                </span>
                        {% end %}
                    </div>
                </div>
                <div style="margin-top: 0.5em;">
                    <button data-dojo-type="dijit/form/Button" type="submit">Go</button>
                </div>
                <div style="color:grey;">
                    Cookies must be enabled (必须启用Cookies)
                </div>
                <div>
                    <label id="hint_node" style="color: red;">{{ hint }}</label>
                </div>
                <div>
                    <br>
                    for better user experience, we recommend using chrome browser.
                    <br>
                    推荐使用Google Chrome浏览器
                </div>
                <div>
                    <br><br><br>
                    <label style="font-style: italic;">Proudly powered by RoundGIS Lab</label>
                </div>
           </div>
<script>
require(["dojo/parser", "dojo/on","dojo/dom",
    "dijit/registry",  "dojo/query", "dojo/ready"],
        function(parser, on, dom, registry, dquery, ready) {
            ready(function() {
            });
        });
</script>
</body>
</html>